.popup__name {
  width: 99.5%;
  margin-bottom: 13px;
  border: none;
  outline: none;
  font-family: "Inter", "Arial", "Helvetica", "sens-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0;
  text-align: start;
}
